* {
    margin: 0;
    padding: 0;
}

#page {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#page:after {
    content: '';
    z-index: 8;
    width: 100%;
    height: 100%;
    background: url(Switch\ Infographics.png) center center no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: background-size 300ms, width 300ms, height 300ms;
    filter: blur(2px) grayscale(100%) sepia(10%);
}



#magnify {
    background: url(Switch\ Infographics.png) center center no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    position: absolute;
    border: 10px solid #FFF;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: -160px;
    top: 50%;
    left: 50%;
    z-index: 9;
    box-shadow: inset 0px 0px 30px 20px rgba(0, 0, 0, 0.1), 0px 0px 10px 0px rgba(0, 0, 0, .6);
}


@media (max-width: 480px) {
    #page:after {
        background-size: 100%;
    }
    #magnify {
        background-size: 105%;
        width: 500px;
        height: 500px;
        margin: -230px;
    }
}
